nodeRed/flows.json
[
    {
        "id": "7bb47c5b8f98d12b",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0bbd239a2c0c765b",
        "type": "http in",
        "z": "7bb47c5b8f98d12b",
        "name": "",
        "url": "/navdata",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 80,
        "y": 180,
        "wires": [
            [
                "05f1e9801fa64e4c",
                "5a152f91460bb573",
                "98d769a922ebabd8",
                "43f99f1f74ba22d4",
                "59f8ee6247abb7d6",
                "5c6ad729e130c8ca"
            ]
        ]
    },
    {
        "id": "05f1e9801fa64e4c",
        "type": "http response",
        "z": "7bb47c5b8f98d12b",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 460,
        "y": 380,
        "wires": []
    },
    {
        "id": "5a152f91460bb573",
        "type": "ui_gauge",
        "z": "7bb47c5b8f98d12b",
        "name": "",
        "group": "ce9b0713c0f40375",
        "order": 2,
        "width": "8",
        "height": "4",
        "gtype": "gage",
        "title": "Vx",
        "label": "units",
        "format": "{{msg.payload.vx/100}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 450,
        "y": 120,
        "wires": []
    },
    {
        "id": "98d769a922ebabd8",
        "type": "ui_gauge",
        "z": "7bb47c5b8f98d12b",
        "name": "",
        "group": "ce9b0713c0f40375",
        "order": 3,
        "width": "8",
        "height": "4",
        "gtype": "gage",
        "title": "Vy",
        "label": "units",
        "format": "{{msg.payload.vy/100}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 450,
        "y": 160,
        "wires": []
    },
    {
        "id": "43f99f1f74ba22d4",
        "type": "ui_gauge",
        "z": "7bb47c5b8f98d12b",
        "name": "",
        "group": "ce9b0713c0f40375",
        "order": 4,
        "width": "8",
        "height": "4",
        "gtype": "gage",
        "title": "Vz",
        "label": "units",
        "format": "{{msg.payload.vz/100}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 450,
        "y": 200,
        "wires": []
    },
    {
        "id": "f19fd803a5d424eb",
        "type": "ui_text",
        "z": "7bb47c5b8f98d12b",
        "group": "ce9b0713c0f40375",
        "order": 1,
        "width": "24",
        "height": "1",
        "name": "",
        "label": "Drone Speed Dashboard",
        "format": "",
        "layout": "row-center",
        "className": "",
        "x": 510,
        "y": 80,
        "wires": []
    },
    {
        "id": "daf5c0f059068329",
        "type": "ui_chart",
        "z": "7bb47c5b8f98d12b",
        "name": "",
        "group": "27df55ff8de5e7e0",
        "order": 2,
        "width": "24",
        "height": "4",
        "label": "Drone Altitude (mm)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 680,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "59f8ee6247abb7d6",
        "type": "function",
        "z": "7bb47c5b8f98d12b",
        "name": "altitude",
        "func": "return {\"payload\": msg.payload.altitude};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 260,
        "wires": [
            [
                "daf5c0f059068329"
            ]
        ]
    },
    {
        "id": "5c6ad729e130c8ca",
        "type": "ui_text",
        "z": "7bb47c5b8f98d12b",
        "group": "a0e49cdaba43d581",
        "order": 1,
        "width": "24",
        "height": "2",
        "name": "",
        "label": "Battery level: ",
        "format": "{{msg.payload.bat_level}}%",
        "layout": "row-center",
        "className": "",
        "x": 470,
        "y": 320,
        "wires": []
    },
    {
        "id": "ce9b0713c0f40375",
        "type": "ui_group",
        "name": "Drone Speed",
        "tab": "713bc7d728ad3f74",
        "order": 2,
        "disp": false,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "27df55ff8de5e7e0",
        "type": "ui_group",
        "name": "Drone Altitude",
        "tab": "713bc7d728ad3f74",
        "order": 3,
        "disp": false,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a0e49cdaba43d581",
        "type": "ui_group",
        "name": "Battery level",
        "tab": "713bc7d728ad3f74",
        "order": 1,
        "disp": false,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "713bc7d728ad3f74",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]