nodeRed/flows.json
[
    {
        "id": "d6a8c880f732ccee",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c98ed6e53778a1f4",
        "type": "http in",
        "z": "d6a8c880f732ccee",
        "name": "",
        "url": "/navdata",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 80,
        "y": 180,
        "wires": [
            [
                "1bd4feeec5f8062c",
                "407397eeb1ae8fac",
                "3f906d36ff5461d1",
                "081d674835719d04",
                "651f93ee8c0cf760"
            ]
        ]
    },
    {
        "id": "1bd4feeec5f8062c",
        "type": "http response",
        "z": "d6a8c880f732ccee",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 460,
        "y": 380,
        "wires": []
    },
    {
        "id": "407397eeb1ae8fac",
        "type": "ui_gauge",
        "z": "d6a8c880f732ccee",
        "name": "",
        "group": "ce9b0713c0f40375",
        "order": 2,
        "width": "12",
        "height": "4",
        "gtype": "gage",
        "title": "Vx",
        "label": "units",
        "format": "{{msg.payload.vx/100}}",
        "min": "-15",
        "max": "15",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 450,
        "y": 120,
        "wires": []
    },
    {
        "id": "3f906d36ff5461d1",
        "type": "ui_gauge",
        "z": "d6a8c880f732ccee",
        "name": "",
        "group": "ce9b0713c0f40375",
        "order": 3,
        "width": "12",
        "height": "4",
        "gtype": "gage",
        "title": "Vy",
        "label": "units",
        "format": "{{msg.payload.vy/100}}",
        "min": "-15",
        "max": "15",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 450,
        "y": 160,
        "wires": []
    },
    {
        "id": "3c9c185f94048250",
        "type": "ui_text",
        "z": "d6a8c880f732ccee",
        "group": "ce9b0713c0f40375",
        "order": 1,
        "width": "24",
        "height": "1",
        "name": "",
        "label": "Drone Speed Dashboard",
        "format": "",
        "layout": "row-center",
        "className": "",
        "x": 510,
        "y": 80,
        "wires": []
    },
    {
        "id": "c3c29568b0a1fc12",
        "type": "ui_chart",
        "z": "d6a8c880f732ccee",
        "name": "",
        "group": "27df55ff8de5e7e0",
        "order": 2,
        "width": "24",
        "height": "4",
        "label": "Drone Altitude (mm)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 680,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "081d674835719d04",
        "type": "function",
        "z": "d6a8c880f732ccee",
        "name": "altitude",
        "func": "return {\"payload\": msg.payload.altitude};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 260,
        "wires": [
            [
                "c3c29568b0a1fc12"
            ]
        ]
    },
    {
        "id": "651f93ee8c0cf760",
        "type": "ui_text",
        "z": "d6a8c880f732ccee",
        "group": "a0e49cdaba43d581",
        "order": 1,
        "width": "24",
        "height": "2",
        "name": "",
        "label": "Battery level: ",
        "format": "{{msg.payload.bat_level}}%",
        "layout": "row-center",
        "className": "",
        "x": 470,
        "y": 320,
        "wires": []
    },
    {
        "id": "ce9b0713c0f40375",
        "type": "ui_group",
        "name": "Drone Speed",
        "tab": "713bc7d728ad3f74",
        "order": 2,
        "disp": false,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "27df55ff8de5e7e0",
        "type": "ui_group",
        "name": "Drone Altitude",
        "tab": "713bc7d728ad3f74",
        "order": 3,
        "disp": false,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a0e49cdaba43d581",
        "type": "ui_group",
        "name": "Battery level",
        "tab": "713bc7d728ad3f74",
        "order": 1,
        "disp": false,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "713bc7d728ad3f74",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]